body{
  padding: 10px 30px;
}

h1, h2, h3{
  text-align: center;
  padding-bottom: 20px;
}

form{
  background-color: #B4E3F0;
  padding: 20px;
  width: 250px;
  text-align: left;
  margin: 20px auto;


}
